.category-list {
    margin-bottom : 1.5rem
}

.category-list div {
    padding : .5rem 1rem;
    font-size: 1.2rem;
    color: black;
    border-bottom: solid 1px var(--light-blue);
    background-color: var(--sky-blue);
}

.category-list div:last-child {
    border-bottom : none;
}

.category-list div:hover {
    background-color: var(--dark-sky-blue);
    font-weight: bold;
    cursor: pointer;
}

.sidebar-title {
    margin-bottom : 0.5rem;
}

.sidebar-search {
    margin-bottom: 1rem;
}

.search-button {
    margin-top: 1rem;
}

.clear-filter {
    margin-top: 1rem;
}


/* > is child selector.  It is used to select elements that are direct children of a specific parent element. */
.price-filter-select > div {  
    margin-bottom: 0.5rem;
}

.price-filter-label-min {
    flex-basis: 55%;
}

